body {
  background-color: mediumturquoise;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app {
  text-align: center;
}

li {
  list-style-type: none;
}

.question-type button:hover {
  color: black;
  background-color: cornflowerblue;
}

.question-type button{
  background-color: cornflowerblue;
  padding: 5px;
  margin: 5px;
  font-weight: bolder;
  border-radius: 10px ;
  border: 1px  blue;
  color: white;
  font-size: large;
}
.question-type button.focus{
  opacity: .7;
}

.login-list img {
  max-width: 130px;
  border-radius: 25px;
  border: 1px solid midnightblue;
}

.please-login {
  font-weight: bolder;
  color: red;
}

.login-btn {
  padding: 5px 20px;
  margin: 3px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}


.login-btn:hover {
  color: royalblue;
  background-color: white;
}

img {
  max-width: 190px;
  border-radius: 25px;
  border: 1px solid midnightblue;
}

img:hover {
  opacity: 90%;
}

.user-name {
 font-weight: bold;
  color: blue;
}

.nav-list * {
  font-weight: bold;
  color: midnightblue;
  text-decoration: none;
  font-size: large;
}

.nav-list :hover {
  color: white;
}


.wyr span {
  color: red;
  font-weight: bold;
}

p {
  font-weight: bold;
}

.nav-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
}
.wyr div {
  color: red;
}

.one, .two{
  font-weight: bold;
  color: navy;
}

.date {
  opacity: .5;
  font-weight: normal;
}

.user-name {
  color: darkred;
}

.qa{
  font-weight: bold;
  color: crimson;
}

.score {
  color: darkmagenta;
  font-weight: bolder;
  font-size: larger;
}

.ques-num {
  border-radius: 50%;
  padding: 7px;
  color: red;
  /*background-color: red;*/
}

.wyr button.btn-link {
  background-color: whitesmoke;
  padding: 10px;
}
.wyr button.btn-link:hover {
  opacity: .9;
  background-color: whitesmoke;
}

.submit-btn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: "DejaVu Math TeX Gyre", monospace;
  font-weight: bolder;
  background-color: dodgerblue;
}

.submit-btn:hover {
  opacity: .8;
}

.connected-user {
  color:white;
}

.asked-by {
  color: crimson;
}
.this {
  color: darkred;
}

.votes {
  color: darkmagenta;
}

.votes-div p{
  font-weight: bold;
}
.rather {
  color: crimson;
}

.sub {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: "DejaVu Math TeX Gyre", monospace;
  font-weight: bolder;
  background-color: dodgerblue;
}

.sub:hover {
  opacity: .8;
}

.percent {
  color:red;
}

.options {
  color: crimson;
  font-size: larger;
}

.of {
  color: brown;
}

.head {
  text-align: center;
  font-weight: bolder;
  color: mediumblue;
  padding: 10px;
  margin: 10px;
  font-size: xx-large;
  font-family: "Source Code Pro ExtraLight", -apple-system, "JetBrains Mono ExtraBold", sans-serif;

}